body {

    color: white;
    font-size: 1.5vw;
    font-family: 'Patua One', cursive;
    background-image: url("Sat.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:auto;

}

h1 {

    margin-left: 3%;
    padding: 0;
    -webkit-text-stroke: 0.1vw;
    -webkit-text-stroke-color: black;

}

a {

    color: lightblue;

}

p {

    margin-left: 10%;
    -webkit-text-stroke: 0.05vw;
    -webkit-text-stroke-color: black;

}